body {
    font-family: 'Roboto Mono', monospace;
}

h2 {
    font-weight: 300;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.flex {
    display: flex;
    /* sirve para saber si los hijos deben acomodarse en multiples lineas o no */
    flex-wrap: wrap;
}

.text {
    text-align: center;
}

.columna {
    background: rgb(238, 238, 238);
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    /* para redondear los bordes */
    border-radius: 5px;
    /* para agregar sombras (ejeX, ejeY, degradado, color, )*/
    box-shadow: 10px 10px 5px #888;
    width: 23%;
    /* determina el tamaño total de un elemento (se tiene el cuenta o no el border y el padding)*/
    box-sizing: border-box;
}

.precio {
    font-size: 50px;
    color: #415c5a;
}

.btn-precio {
    display: block;
    background: salmon;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
}

.btn-precio:hover {
    background: rgb(250, 93, 75);
}

@media (max-width: 1000px){
    .columna {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px){
    .columna{
        width: 100%;
    }
}